body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: antiquewhite;
    text-align: center; 
}

#product-detail {
    max-width: 800px; 
    margin: auto; 
    padding: 20px; 
    background-color: white; 
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); 
}

#product-images img {
    max-width: 100%; 
    height: auto;
    margin-bottom: 20px;
    border-radius: 4px; 
}


#product-title, #product-description, #product-price, #product-rating {
    margin-bottom: 15px; 
    color: #333;
}


#product-rating {
    font-size: 1.5em; 
}
