body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: whitesmoke;
}
header {
    background-color: seagreen;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
}
#product-list {
    background-color: tan;
}
p {
    margin: 0;
}

header h1 {
    margin: 0;
}

#search-and-filter {
    display: flex;
    justify-content: center;
    padding: 1rem;
    background-color: white;
}

#search-box {
    padding: 0.5rem;
    margin-right: 1rem;
    width: 200px;
}

#category-filter {
    padding: 0.5rem;
}


#product-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 1rem;
    padding: 1rem;
}

#product-list div {
    background-color: white; 
    padding: 1rem;
    border: 1px solid #ddd;
}
#product-list div .image{
    background-color: transparent!important;
}
#product-list div .prod-text {
    padding: 1rem;
    border: none !important;;
    transition: transform 0.3s ease, background-color 0.3s ease;
}
#product-list div.rating-star {
     background-color: transparent!important;
    padding: 1rem;
    border: none !important;;
    transition: transform 0.3s ease, background-color 0.3s ease;
}
#product-list div.stars-container {
    background-color: transparent!important;
}

#product-list div.prod-text:hover {
    background-color: burlywood; 
    transform: scale(1.05);
    cursor: pointer;
}

.stars-container {
    display:flex;
    gap: 4px;
    padding: 0!important;
    border: none!important;
}
.rating-star {
    display: flex;
    align-items: center;
    border: none!important;
    padding: 0!important;
}
#product-list h3 {
    margin-top: 0;
}

#product-list .image {
    width: 80%;
    height: 200px;
    border: none;
}

#product-list img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.prod-text {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
}
.prod-value {
    font-weight: 400!important;
}

#pagination {
    display: flex;
    justify-content: center;
    padding: 1rem;
    background-color:tan;
}

#pagination button {
    padding: 0.5rem 1rem;
    margin: 0 0.5rem;
    background-color: tomato;
    color: rgb(255, 255, 255);
    border: none;
    cursor: pointer;
}

#loading-indicator, #error-message {
    text-align: center;
    padding: 1rem;
}

@media (max-width: 600px) {
    #search-and-filter {
        flex-direction: column;
        align-items: center;
    }

    #search-box {
        margin-bottom: 1rem;
    }

    #product-list {
        grid-template-columns: 1fr;
    }
}